<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Online Banking ..</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
function ctck()
{
var sds = document.getElementById("dum");

}
    </script>

</head>

<body>

    <div id="top_links">


        <div id="header">
            <h1>Online Banking System<span class="style1"></span></h1>
            <h1>For Reserve Bank Co.Ltd<span class="style1"></span></h1>
            <h2>Extra Ordinary Service</h2>

        </div>
        <center>  <div class="img"><img src="content/images/banking.jpg" alt="Business"></center>
    </div>



    <table cellpadding="0" cellspacing="0" id="content1">
        <tr align="justify">
            <td class="con" valign="top">
                <div id="heade1"><h1>Services</h1></div>
                <div class="img">
                    <img src="~/content/images/services.jpg" alt="Business">

                    <p>
                        Reserve provides a bountfull of services which enhances <br>the opportunities for the customers to use their<br> products and services in an efficient way.<br>
                        Services of Banks<br>
                        Advancements of loans.<br>
                        Cheque payments.<br>
                        Discounting on bills of exchange.<br>
                        Collecting and paying the credit instruments.<br>
                        Guarantee by banks.<br>
                        Consultancy.<br>
                        Credit cards.<br>
                        Funds remittance..<br>


                    </p>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" id="content1">
        <tr align="justify">
            <td class="con" valign="top">
                <div id="heade1"><h1>Services</h1></div>
                <div class="img">
                    <img src="~/content/images/Monetary-Policy-RBI.jpg" alt="Business">

                    <p>
                        Reserve provides a bountfull of policies which enhances <br>the opportunities for the customers to use their<br> products and policies in an efficient way.<br>
                        SBA Policy 2020-21
                        Policy for Declaration of Dividend 2020-21	List of Statutory Central Auditor-FY 2021-22<br>
                        Corporate Social Responsibility	Anti Money Laundering<br>
                        Website Maintenance & Archival Policy	Policy On Bank Deposits<br>
                        Customer's Right Policy 2021-22	Corporate Governance Report<br>
                        Code Of Conduct For Directors	Code Conduct for Senior Management<br>
                        SCA Policy 2021-22	Fair Lending Practices Code<br>
                        Model Code Of Collection Of Dues	Human Resource<br>
                        Policy on Collection of Cheques/Instruments and Dishonour of Instruments 2021-22	Recovery Agents List<br>
                        Code Of Bank'S Commitment To Customers	Compensation Policy 2021-22<br>
                        Reverse Auction Policy	Code Of Bank's Commitment To MSME<br>
                        Basel-III Disclosures	Banking Ombudsman Scheme<br>
                        Sustainable Development & CSR Policy	Internal Ombudsman System - 2012<br>
                        Key Managerial Personnel	Whistle Blower Policy<br>
                        Policy For Determining Material Subsidiary	Grievance Redressal<br>
                        Related Party Transaction Policy	Chief Vigilance Officer<br>
                        Policy for Determination of Materiality of Events or Information	Code of Conduct for Prohibition of Trading by Insiders<br>
                        Code of Conduct for Fair Disclosure of Unpublished Price Sensitive Information	Corporate Communication Policy and guidelines<br>
                        Death Claim	Disclosure March 2019<br>


                    </p>
            </td>
        </tr>
    </table>

    <table style="width:897px; background:#FFFFFF; margin:0 auto;">
        <tr align="justify">


            <td width="299" valign="top">
                <div id="welcome" style="border-right:#666666 1px dotted;">
                    <h1>Welcome</h1><br>
                    <center><img src="~/Content/images/welcome.jpg" alt="business" width="196" height="106"></center><br>
                    <p>The reserve bank welcomes you to official website for banking.The website various services linke banking , creating account, adding customer information, viewing the transactions details and so on. we humbly welcome you and request you to use the services provided</p>

                </div>
            </td>

            <td width="299" valign="top">
                <div id="news">
                    <h1>News &amp; Events</h1><br>
                    <div class="img"><img src="~/content/images/news.jpg" alt="Business"></div>
                    <h2>Nov. 17, 2008.</h2>
                    <p>The reserve bank got nationalized in the following year headed by the govt.</p><br>
                    <div class="img"><img src="~/Content/images/events.jpg" alt="Business"></div>
                    <h2>Nov. 17, 2008.</h2>
                    <p>The Reserve Bank recently celebrated its 50 years anniversary .</p>

                </div>

            </td>
        </tr>
    </table>

    <div id="footer_top">
        <div id="footer_navigation">


        </div>



        <script type="text/javascript">
            document.onload = ctck();
        </script>
    </div>

</body>
</html>

