
@{
    ViewBag.Title = "DashboardViewModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DashboardViewModel</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>



</table>

